// _variables.scss
// ===============

@import "https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Nunito&amp";

// Font-Family

$nanum 	: 'Nanum Gothic', sans-serif;
$avenir	: 'Nunito', sans-serif;


//Colors

$black 		: 	#000000;
$white 		: 	#ffffff;
$night 		: 	#19191a;
$darkblue 	: 	#1462a8;
$lightblue 	: 	#5fc1ef;
$teal 		: 	#25cbd3;
$yellow 	: 	#feea00;
$salmon 	: 	#f8b1bc;

